<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>
    <add name="JaaamDbString" connectionString="Server=kraka.ucn.dk;Initial Catalog=dmaa0917_1067407;User id=dmaa0917_1067407;Password=Password1!" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <connectionStrings>
      <!--<add name="JaaamDbString" connectionString="Server=(LocalDb)\MSSQLLocalDB;Initial Catalog=JaaamDb;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <add name="JaaamDbString" connectionString="Server=.\SQLEXPRESS;Initial Catalog=JaaamDb;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>