@model JAAAM_WebClient.WCFService.Event

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Event Details";
}



<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Matches In Event: </h2><span>List of matches:</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                @foreach (JAAAM_WebClient.WCFService.Match m in Model.Matches) {
                    <div class="col-lg-12 col-md-12">
                        <div class="listing-item-container list-layout">
                            <a href="#" data-toggle="modal" data-target="#@m.Id" class="listing-item">

                                <div class="listing-item-image">
                                    <img src="https://www.hltv.org/img/static/openGraphHltvLogo.png" alt="">
                                    
                                        @if (!m.Held) {
                                        <span class="tag">
                                            Upcoming match
                                        </span>
                                            } else {
                                        <span class="tag">
                                            Match played
                                        </span>
                                       }
                                </div>

                                <div class="listing-item-content">
                                    <div class="listing-badge now-open">Match: @m.Id</div>

                                    <div class="listing-item-inner">
                                        <h3><i class="fas fa-crosshairs"></i> @m.Name</h3>
                                        <span>@m.Format</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }

            </div>



        </div>

    </div>
</div>

@Html.Action("_MatchDetails")


